modules/xact/dhcp/manager/mdmimpl/control/PoolUsageThreshold/webserviceProject/PoolUsageThreshold.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.gip.com/juno/SnmpTrap/WS/PoolUsageThreshold"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mess="http://www.gip.com/juno/SnmpTrap/WS/PoolUsageThreshold/Messages"
  name="PoolUsageThreshold"
  xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages"
	targetNamespace="http://www.gip.com/juno/SnmpTrap/WS/PoolUsageThreshold">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
      <xsd:import namespace="http://www.gip.com/juno/SnmpTrap/WS/PoolUsageThreshold/Messages"
    		schemaLocation="PoolUsageThresholdMessages.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages"
                  schemaLocation="JunoGuiCommon.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetMetaInfoResponseMessage">
    <wsdl:part name="MetaInfoResponse" element="mess:MetaInfoOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetMetaInfoRequestMessage">
    <wsdl:part name="MetaInfoRequest" element="gui:GetMetaInfoRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetAllRowsRequestMessage">
  	<wsdl:part name="GetAllRowsRequest" element="mess:GetAllRowsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetAllRowsResponseMessage">
  	<wsdl:part name="GetAllRowsResponse" element="mess:GetAllRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchRowsRequestMessage">
  	<wsdl:part name="SearchRowsRequest" element="mess:SearchRowsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchRowsResponseMessage">
  	<wsdl:part name="SearchRowsResponse" element="mess:SearchRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateRowResponseMessage">
    <wsdl:part name="UpdateRowResponse" element="mess:UpdateRowOutput"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="UpdateRowRequestMessage">
    <wsdl:part name="UpdateRowRequest" element="mess:UpdateRowRequest"></wsdl:part>
  </wsdl:message>
    
  <wsdl:message name="InsertRowRequestMessage">
    <wsdl:part name="InsertRowRequest" element="mess:InsertRowRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="InsertRowResponseMessage">
    <wsdl:part name="InsertRowResponse" element="mess:InsertRowOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteRowsWithNullConditionsRequestMessage">
    <wsdl:part name="DeleteRowsWithNullConditionsRequest" element="mess:DeleteRowsWithNullConditionsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteRowsWithNullConditionsResponseMessage">
    <wsdl:part name="DeleteRowsWithNullConditionsResponse" element="mess:DeleteRowsWithNullConditionsOutput"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="UpdateRowPkWithNullConditionsRequestMessage">
    <wsdl:part name="UpdateRowPkWithNullConditionsRequest" element="mess:UpdateRowPkWithNullConditionsRequest"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="UpdateRowPkWithNullConditionsResponseMessage">
    <wsdl:part name="UpdateRowPkWithNullConditionsResponse" element="mess:UpdateRowPkWithNullConditionsOutput"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:portType name="PoolUsageThreshold">

    <wsdl:operation name="GetMetaInfo">
      <wsdl:input message="tns:GetMetaInfoRequestMessage"></wsdl:input>
      <wsdl:output message="tns:GetMetaInfoResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetAllRows">
      <wsdl:input message="tns:GetAllRowsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:GetAllRowsResponseMessage"></wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
  		<wsdl:input message="tns:SearchRowsRequestMessage"></wsdl:input>
  		<wsdl:output message="tns:SearchRowsResponseMessage"></wsdl:output>
  	</wsdl:operation>

  <!--
    <wsdl:operation name="UpdateRow">
      <wsdl:input message="tns:UpdateRowRequestMessage"></wsdl:input>
      <wsdl:output message="tns:UpdateRowResponseMessage"></wsdl:output>
    </wsdl:operation>
    -->
    
    <wsdl:operation name="InsertRow">
      <wsdl:input message="tns:InsertRowRequestMessage"></wsdl:input>
      <wsdl:output message="tns:InsertRowResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteRowsWithNullConditions">
      <wsdl:input message="tns:DeleteRowsWithNullConditionsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:DeleteRowsWithNullConditionsResponseMessage"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="UpdateRowPkWithNullConditions">
      <wsdl:input message="tns:UpdateRowPkWithNullConditionsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:UpdateRowPkWithNullConditionsResponseMessage"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>


  <wsdl:binding name="PoolUsageThresholdBinding" type="tns:PoolUsageThreshold">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="GetMetaInfo">
      <soap:operation soapAction="GetMetaInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GetAllRows">
      <soap:operation soapAction="GetAllRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
      <soap:operation soapAction="SearchRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!--
    <wsdl:operation name="UpdateRow">
      <soap:operation soapAction="UpdateRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    -->
    
    <wsdl:operation name="InsertRow">
      <soap:operation soapAction="InsertRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteRowsWithNullConditions">
      <soap:operation soapAction="DeleteRowsWithNullConditions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
       <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="UpdateRowPkWithNullConditions">
      <soap:operation soapAction="UpdateRowPkWithNullConditions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PoolUsageThreshold">
      <wsdl:port binding="tns:PoolUsageThresholdBinding" name="PoolUsageThresholdPort">
         <soap:address location="http://local.de"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
