modules/xact/dhcp/manager/mdmimpl/gui/GuiAttribute/webserviceProject/WebContent/wsdl/GuiAttributePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<wsdl:definitions xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages" xmlns:mess="http://www.gip.com/juno/DHCP/WS/GuiAttribute/Messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.gip.com/juno/DHCP/WS/GuiAttribute" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GuiAttribute" targetNamespace="http://www.gip.com/juno/DHCP/WS/GuiAttribute">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.gip.com/juno/DHCP/WS/GuiAttribute/Messages" schemaLocation="GuiAttributeMessages.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages" schemaLocation="JunoGuiCommon.xsd"/>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetMetaInfoResponseMessage">
    <wsdl:part element="mess:MetaInfoOutput" name="MetaInfoResponse"/>
  </wsdl:message>

  <wsdl:message name="GetMetaInfoRequestMessage">
    <wsdl:part element="gui:GetMetaInfoRequest" name="MetaInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="GetAllRowsRequestMessage">
  	<wsdl:part element="mess:GetAllRowsRequest" name="GetAllRowsRequest"/>
  </wsdl:message>

  <wsdl:message name="GetAllRowsResponseMessage">
  	<wsdl:part element="mess:GetAllRowsOutput" name="GetAllRowsResponse"/>
  </wsdl:message>

  <wsdl:message name="SearchRowsRequestMessage">
  	<wsdl:part element="mess:SearchRowsRequest" name="SearchRowsRequest"/>
  </wsdl:message>

  <wsdl:message name="SearchRowsResponseMessage">
  	<wsdl:part element="mess:SearchRowsOutput" name="SearchRowsResponse"/>
  </wsdl:message>

  <wsdl:message name="UpdateRowResponseMessage">
    <wsdl:part element="mess:UpdateRowOutput" name="UpdateRowResponse"/>
  </wsdl:message>

  <wsdl:message name="UpdateRowRequestMessage">
    <wsdl:part element="mess:UpdateRowRequest" name="UpdateRowRequest"/>
  </wsdl:message>

  <wsdl:message name="InsertRowRequestMessage">
    <wsdl:part element="mess:InsertRowRequest" name="InsertRowRequest"/>
  </wsdl:message>

  <wsdl:message name="InsertRowResponseMessage">
    <wsdl:part element="mess:InsertRowOutput" name="InsertRowResponse"/>
  </wsdl:message>

  <wsdl:message name="DeleteRowsRequestMessage">
    <wsdl:part element="mess:DeleteRowsRequest" name="DeleteRowsRequest"/>
  </wsdl:message>

  <wsdl:message name="DeleteRowsResponseMessage">
    <wsdl:part element="mess:DeleteRowsOutput" name="DeleteRowsResponse"/>
  </wsdl:message>



  <wsdl:portType name="GuiAttribute">

    <wsdl:operation name="GetMetaInfo">
      <wsdl:input message="tns:GetMetaInfoRequestMessage"/>
      <wsdl:output message="tns:GetMetaInfoResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="GetAllRows">
      <wsdl:input message="tns:GetAllRowsRequestMessage"/>
      <wsdl:output message="tns:GetAllRowsResponseMessage"/>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
  		<wsdl:input message="tns:SearchRowsRequestMessage"/>
  		<wsdl:output message="tns:SearchRowsResponseMessage"/>
  	</wsdl:operation>


    <wsdl:operation name="UpdateRow">
      <wsdl:input message="tns:UpdateRowRequestMessage"/>
      <wsdl:output message="tns:UpdateRowResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="InsertRow">
      <wsdl:input message="tns:InsertRowRequestMessage"/>
      <wsdl:output message="tns:InsertRowResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="DeleteRows">
      <wsdl:input message="tns:DeleteRowsRequestMessage"/>
      <wsdl:output message="tns:DeleteRowsResponseMessage"/>
    </wsdl:operation>

  </wsdl:portType>


  <wsdl:binding name="GuiAttributeBinding" type="tns:GuiAttribute">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="GetMetaInfo">
      <soap:operation soapAction="GetMetaInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GetAllRows">
      <soap:operation soapAction="GetAllRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
      <soap:operation soapAction="SearchRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="UpdateRow">
      <soap:operation soapAction="UpdateRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="InsertRow">
      <soap:operation soapAction="InsertRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteRows">
      <soap:operation soapAction="DeleteRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
       <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="GuiAttribute">
      <wsdl:port binding="tns:GuiAttributeBinding" name="GuiAttributePort">
         <soap:address location="http://localhost:8080/GuiAttribute/services/GuiAttributePort"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
