modules/xact/dhcp/manager/mdmimpl/leasebrowser/Leases/webserviceProject/Leases.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.gip.com/juno/Audit/WS/Leases"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mess="http://www.gip.com/juno/Audit/WS/Leases/Messages"
  xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages"
	name="Leases"
	targetNamespace="http://www.gip.com/juno/Audit/WS/Leases">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
      <xsd:import namespace="http://www.gip.com/juno/Audit/WS/Leases/Messages"
    		schemaLocation="LeasesMessages.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages"
                  schemaLocation="JunoGuiCommon.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetMetaInfoResponseMessage">
    <wsdl:part name="MetaInfoResponse" element="mess:MetaInfoOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetMetaInfoRequestMessage">
    <wsdl:part name="MetaInfoRequest" element="gui:GetMetaInfoRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetAllRowsRequestMessage">
  	<wsdl:part name="GetAllRowsRequest" element="mess:GetAllRowsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetAllRowsResponseMessage">
  	<wsdl:part name="GetAllRowsResponse" element="mess:GetAllRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchRowsRequestMessage">
  	<wsdl:part name="SearchRowsRequest" element="mess:SearchRowsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchRowsResponseMessage">
  	<wsdl:part name="SearchRowsResponse" element="mess:SearchRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateRowResponseMessage">
    <wsdl:part name="UpdateRowResponse" element="mess:UpdateRowOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateRowRequestMessage">
    <wsdl:part name="UpdateRowRequest" element="mess:UpdateRowRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="InsertRowRequestMessage">
    <wsdl:part name="InsertRowRequest" element="mess:InsertRowRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="InsertRowResponseMessage">
    <wsdl:part name="InsertRowResponse" element="mess:InsertRowOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteRowsRequestMessage">
    <wsdl:part name="DeleteRowsRequest" element="mess:DeleteRowsRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="DeleteRowsResponseMessage">
    <wsdl:part name="DeleteRowsResponse" element="mess:DeleteRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchLeasesRequestMessage">
    <wsdl:part name="SearchLeasesRequest" element="mess:SearchLeasesRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="SearchLeasesResponseMessage">
    <wsdl:part name="SearchLeasesResponse" element="mess:SearchLeasesOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CountRowsWithConditionResponseMessage">
    <wsdl:part name="CountRowsWithConditionResponse" element="mess:CountRowsWithConditionOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CountRowsWithConditionRequestMessage">
    <wsdl:part name="CountRowsWithConditionRequest" element="mess:CountRowsWithConditionRequest"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="CountAllRowsResponseMessage">
    <wsdl:part name="CountAllRowsResponse" element="mess:CountAllRowsOutput"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CountAllRowsRequestMessage">
    <wsdl:part name="CountAllRowsRequest" element="mess:CountAllRowsRequest"></wsdl:part>
  </wsdl:message>
    
  <wsdl:message name="CountLeasesRequestMessage">
    <wsdl:part name="CountLeasesRequest" element="mess:CountLeasesRequest"></wsdl:part>
  </wsdl:message>
    
  <wsdl:message name="CountLeasesResponseMessage">
    <wsdl:part name="CountLeasesResponse" element="mess:CountLeasesOutput"></wsdl:part>
  </wsdl:message>


  <wsdl:portType name="Leases">

    <wsdl:operation name="GetMetaInfo">
      <wsdl:input message="tns:GetMetaInfoRequestMessage"></wsdl:input>
      <wsdl:output message="tns:GetMetaInfoResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetAllRows">
      <wsdl:input message="tns:GetAllRowsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:GetAllRowsResponseMessage"></wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
  		<wsdl:input message="tns:SearchRowsRequestMessage"></wsdl:input>
  		<wsdl:output message="tns:SearchRowsResponseMessage"></wsdl:output>
  	</wsdl:operation>


    <wsdl:operation name="UpdateRow">
      <wsdl:input message="tns:UpdateRowRequestMessage"></wsdl:input>
      <wsdl:output message="tns:UpdateRowResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="InsertRow">
      <wsdl:input message="tns:InsertRowRequestMessage"></wsdl:input>
      <wsdl:output message="tns:InsertRowResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteRows">
      <wsdl:input message="tns:DeleteRowsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:DeleteRowsResponseMessage"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SearchLeases">
      <wsdl:input message="tns:SearchLeasesRequestMessage"></wsdl:input>
      <wsdl:output message="tns:SearchLeasesResponseMessage"></wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="CountRowsWithCondition">
      <wsdl:input message="tns:CountRowsWithConditionRequestMessage"></wsdl:input>
      <wsdl:output message="tns:CountRowsWithConditionResponseMessage"></wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="CountAllRows">
      <wsdl:input message="tns:CountAllRowsRequestMessage"></wsdl:input>
      <wsdl:output message="tns:CountAllRowsResponseMessage"></wsdl:output>
    </wsdl:operation>
      
    <wsdl:operation name="CountLeases">
      <wsdl:input message="tns:CountLeasesRequestMessage"></wsdl:input>
      <wsdl:output message="tns:CountLeasesResponseMessage"></wsdl:output>
    </wsdl:operation>
      
  </wsdl:portType>


  <wsdl:binding name="LeasesBinding" type="tns:Leases">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="GetMetaInfo">
      <soap:operation soapAction="GetMetaInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GetAllRows">
      <soap:operation soapAction="GetAllRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="SearchRows">
      <soap:operation soapAction="SearchRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="UpdateRow">
      <soap:operation soapAction="UpdateRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="InsertRow">
      <soap:operation soapAction="InsertRow"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteRows">
      <soap:operation soapAction="DeleteRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
       <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    
    <wsdl:operation name="SearchLeases">
      <soap:operation soapAction="SearchLeases"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CountRowsWithCondition">
      <soap:operation soapAction="CountRowsWithCondition"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CountAllRows">
      <soap:operation soapAction="CountAllRows"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
            
    <wsdl:operation name="CountLeases">
      <soap:operation soapAction="CountLeases"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="Leases">
      <wsdl:port binding="tns:LeasesBinding" name="LeasesPort">
         <soap:address location="http://local.de"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
