modules/xact/dhcp/manager/mdmimpl/control/ConfigFile/webserviceProject/ConfigFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.gip.com/juno/WS/ConfigFile"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages"
                  name="ConfigFile"
                  targetNamespace="http://www.gip.com/juno/WS/ConfigFile">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages"
                  schemaLocation="ConfigFileMessages.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="TlvToAsciiRequestMessage">
    <wsdl:part name="TlvToAsciiRequest" element="gui:TlvToAsciiRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="TlvToAsciiResponseMessage">
    <wsdl:part name="TlvToAsciiResponse" element="gui:TlvToAsciiResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringRequestMessage">
    <wsdl:part name="GenerateAsciiFromStringRequest" element="gui:GenerateAsciiFromStringRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringResponseMessage">
    <wsdl:part name="GenerateAsciiFromStringResponse" element="gui:GenerateAsciiFromStringResponse"></wsdl:part>
  </wsdl:message>


<wsdl:message name="GenerateAsciiFromStringV4RequestMessage">
    <wsdl:part name="GenerateAsciiFromStringV4Request" element="gui:GenerateAsciiFromStringV4Request"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringV4ResponseMessage">
    <wsdl:part name="GenerateAsciiFromStringV4Response" element="gui:GenerateAsciiFromStringV4Response"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ShowPacketsAsAsciiRequestMessage">
    <wsdl:part name="ShowPacketsAsAsciiRequest" element="gui:ShowPacketsAsAsciiRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ShowPacketsAsAsciiResponseMessage">
    <wsdl:part name="ShowPacketsAsAsciiResponse" element="gui:ShowPacketsAsAsciiResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="ShowV4PacketsAsAsciiRequestMessage">
    <wsdl:part name="ShowV4PacketsAsAsciiRequest" element="gui:ShowV4PacketsAsAsciiRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="ShowV4PacketsAsAsciiResponseMessage">
    <wsdl:part name="ShowV4PacketsAsAsciiResponse" element="gui:ShowV4PacketsAsAsciiResponse"></wsdl:part>
  </wsdl:message>


  <wsdl:message name="GenerateAsciiFromTemplateForInitializedCableModemRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForInitializedCableModemRequest" element="gui:GenerateAsciiFromTemplateForInitializedCableModemRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForInitializedCableModemResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForInitializedCableModemResponse" element="gui:GenerateAsciiFromTemplateForInitializedCableModemResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredCableModemRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUnregisteredCableModemRequest" element="gui:GenerateAsciiFromTemplateForUnregisteredCableModemRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredCableModemResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUnregisteredCableModemResponse" element="gui:GenerateAsciiFromTemplateForUnregisteredCableModemResponse"></wsdl:part>
  </wsdl:message>

  
  <wsdl:message name="GenerateAsciiFromTemplateForSipMtaRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForSipMtaRequest" element="gui:GenerateAsciiFromTemplateForSipMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForSipMtaResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForSipMtaResponse" element="gui:GenerateAsciiFromTemplateForSipMtaResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateAsciiFromTemplateForNcsMtaRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForNcsMtaRequest" element="gui:GenerateAsciiFromTemplateForNcsMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForNcsMtaResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForNcsMtaResponse" element="gui:GenerateAsciiFromTemplateForNcsMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForIsdnMtaRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForIsdnMtaRequest" element="gui:GenerateAsciiFromTemplateForIsdnMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForIsdnMtaResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForIsdnMtaResponse" element="gui:GenerateAsciiFromTemplateForIsdnMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForUninitializedMtaRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUninitializedMtaRequest" element="gui:GenerateAsciiFromTemplateForUninitializedMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUninitializedMtaResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUninitializedMtaResponse" element="gui:GenerateAsciiFromTemplateForUninitializedMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredMtaRequestMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUnregisteredMtaRequest" element="gui:GenerateAsciiFromTemplateForUnregisteredMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredMtaResponseMessage">
    <wsdl:part name="GenerateAsciiFromTemplateForUnregisteredMtaResponse" element="gui:GenerateAsciiFromTemplateForUnregisteredMtaResponse"></wsdl:part>
  </wsdl:message>





<wsdl:message name="GenerateTlvFromStringRequestMessage">
    <wsdl:part name="GenerateTlvFromStringRequest" element="gui:GenerateTlvFromStringRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromStringResponseMessage">
    <wsdl:part name="GenerateTlvFromStringResponse" element="gui:GenerateTlvFromStringResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromStringV4RequestMessage">
    <wsdl:part name="GenerateTlvFromStringV4Request" element="gui:GenerateTlvFromStringV4Request"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromStringV4ResponseMessage">
    <wsdl:part name="GenerateTlvFromStringV4Response" element="gui:GenerateTlvFromStringV4Response"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForInitializedCableModemRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForInitializedCableModemRequest" element="gui:GenerateTlvFromTemplateForInitializedCableModemRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForInitializedCableModemResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForInitializedCableModemResponse" element="gui:GenerateTlvFromTemplateForInitializedCableModemResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredCableModemRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUnregisteredCableModemRequest" element="gui:GenerateTlvFromTemplateForUnregisteredCableModemRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredCableModemResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUnregisteredCableModemResponse" element="gui:GenerateTlvFromTemplateForUnregisteredCableModemResponse"></wsdl:part>
  </wsdl:message>



  <wsdl:message name="GenerateTlvFromTemplateForSipMtaRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForSipMtaRequest" element="gui:GenerateTlvFromTemplateForSipMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForSipMtaResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForSipMtaResponse" element="gui:GenerateTlvFromTemplateForSipMtaResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateTlvFromTemplateForNcsMtaRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForNcsMtaRequest" element="gui:GenerateTlvFromTemplateForNcsMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForNcsMtaResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForNcsMtaResponse" element="gui:GenerateTlvFromTemplateForNcsMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForIsdnMtaRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForIsdnMtaRequest" element="gui:GenerateTlvFromTemplateForIsdnMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForIsdnMtaResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForIsdnMtaResponse" element="gui:GenerateTlvFromTemplateForIsdnMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForUninitializedMtaRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUninitializedMtaRequest" element="gui:GenerateTlvFromTemplateForUninitializedMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUninitializedMtaResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUninitializedMtaResponse" element="gui:GenerateTlvFromTemplateForUninitializedMtaResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredMtaRequestMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUnregisteredMtaRequest" element="gui:GenerateTlvFromTemplateForUnregisteredMtaRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredMtaResponseMessage">
    <wsdl:part name="GenerateTlvFromTemplateForUnregisteredMtaResponse" element="gui:GenerateTlvFromTemplateForUnregisteredMtaResponse"></wsdl:part>
  </wsdl:message>
    

  <wsdl:portType name="ConfigFile">

     <wsdl:operation name="TlvToAscii">
      <wsdl:input message="tns:TlvToAsciiRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:TlvToAsciiResponseMessage"></wsdl:output>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateAsciiFromString">
      <wsdl:input message="tns:GenerateAsciiFromStringRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromStringResponseMessage"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateAsciiFromStringV4">
      <wsdl:input message="tns:GenerateAsciiFromStringV4RequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromStringV4ResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="ShowPacketsAsAscii">
      <wsdl:input message="tns:ShowPacketsAsAsciiRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:ShowPacketsAsAsciiResponseMessage"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ShowV4PacketsAsAscii">
      <wsdl:input message="tns:ShowV4PacketsAsAsciiRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:ShowV4PacketsAsAsciiResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForInitializedCableModem">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForInitializedCableModemRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForInitializedCableModemResponseMessage"></wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredCableModem">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUnregisteredCableModemRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUnregisteredCableModemResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForSipMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForSipMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForSipMtaResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForNcsMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForNcsMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForNcsMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateAsciiFromTemplateForIsdnMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForIsdnMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForIsdnMtaResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForUninitializedMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUninitializedMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUninitializedMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
                
     <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUnregisteredMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUnregisteredMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
    
    

     <wsdl:operation name="GenerateTlvFromString">
      <wsdl:input message="tns:GenerateTlvFromStringRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromStringResponseMessage"></wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateTlvFromStringV4">
      <wsdl:input message="tns:GenerateTlvFromStringV4RequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromStringV4ResponseMessage"></wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateTlvFromTemplateForInitializedCableModem">
      <wsdl:input message="tns:GenerateTlvFromTemplateForInitializedCableModemRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForInitializedCableModemResponseMessage"></wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredCableModem">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUnregisteredCableModemRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUnregisteredCableModemResponseMessage"></wsdl:output>
    </wsdl:operation>


     <wsdl:operation name="GenerateTlvFromTemplateForSipMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForSipMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForSipMtaResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateTlvFromTemplateForNcsMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForNcsMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForNcsMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateTlvFromTemplateForIsdnMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForIsdnMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForIsdnMtaResponseMessage"></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="GenerateTlvFromTemplateForUninitializedMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUninitializedMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUninitializedMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
                
     <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUnregisteredMtaRequestMessage" ></wsdl:input>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUnregisteredMtaResponseMessage"></wsdl:output>
    </wsdl:operation>
                
                                
  </wsdl:portType>

  <wsdl:binding name="ConfigFileBinding" type="tns:ConfigFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       
    <wsdl:operation name="TlvToAscii">
      <soap:operation soapAction="TlvToAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   

    <wsdl:operation name="GenerateAsciiFromString">
      <soap:operation soapAction="GenerateAsciiFromString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateAsciiFromStringV4">
      <soap:operation soapAction="GenerateAsciiFromStringV4"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ShowPacketsAsAscii">
      <soap:operation soapAction="ShowPacketsAsAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ShowV4PacketsAsAscii">
      <soap:operation soapAction="ShowV4PacketsAsAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateAsciiFromTemplateForInitializedCableModem">
      <soap:operation soapAction="GenerateAsciiFromTemplateForInitializedCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredCableModem">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUnregisteredCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateAsciiFromTemplateForSipMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForSipMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForNcsMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForNcsMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForIsdnMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForIsdnMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUninitializedMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUninitializedMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUnregisteredMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>




    <wsdl:operation name="GenerateTlvFromString">
      <soap:operation soapAction="GenerateTlvFromString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateTlvFromStringV4">
      <soap:operation soapAction="GenerateTlvFromStringV4"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForInitializedCableModem">
      <soap:operation soapAction="GenerateTlvFromTemplateForInitializedCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredCableModem">
      <soap:operation soapAction="GenerateTlvFromTemplateForUnregisteredCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateTlvFromTemplateForSipMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForSipMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForNcsMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForNcsMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForIsdnMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForIsdnMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUninitializedMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForUninitializedMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForUnregisteredMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ConfigFile">
    <wsdl:port binding="tns:ConfigFileBinding" name="ConfigFilePort">
      <soap:address location="http://local.de"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
