modules/xact/dhcp/manager/mdmimpl/control/ConfigFile/webserviceProject/WebContent/wsdl/ConfigFilePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->

<wsdl:definitions xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.gip.com/juno/WS/ConfigFile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigFile" targetNamespace="http://www.gip.com/juno/WS/ConfigFile">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages" schemaLocation="ConfigFileMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="TlvToAsciiRequestMessage">
    <wsdl:part element="gui:TlvToAsciiRequest" name="TlvToAsciiRequest"/>
  </wsdl:message>

  <wsdl:message name="TlvToAsciiResponseMessage">
    <wsdl:part element="gui:TlvToAsciiResponse" name="TlvToAsciiResponse"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromStringRequest" name="GenerateAsciiFromStringRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromStringResponse" name="GenerateAsciiFromStringResponse"/>
  </wsdl:message>


<wsdl:message name="GenerateAsciiFromStringV4RequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromStringV4Request" name="GenerateAsciiFromStringV4Request"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromStringV4ResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromStringV4Response" name="GenerateAsciiFromStringV4Response"/>
  </wsdl:message>

  <wsdl:message name="ShowPacketsAsAsciiRequestMessage">
    <wsdl:part element="gui:ShowPacketsAsAsciiRequest" name="ShowPacketsAsAsciiRequest"/>
  </wsdl:message>

  <wsdl:message name="ShowPacketsAsAsciiResponseMessage">
    <wsdl:part element="gui:ShowPacketsAsAsciiResponse" name="ShowPacketsAsAsciiResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="ShowV4PacketsAsAsciiRequestMessage">
    <wsdl:part element="gui:ShowV4PacketsAsAsciiRequest" name="ShowV4PacketsAsAsciiRequest"/>
  </wsdl:message>

  <wsdl:message name="ShowV4PacketsAsAsciiResponseMessage">
    <wsdl:part element="gui:ShowV4PacketsAsAsciiResponse" name="ShowV4PacketsAsAsciiResponse"/>
  </wsdl:message>


  <wsdl:message name="GenerateAsciiFromTemplateForInitializedCableModemRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForInitializedCableModemRequest" name="GenerateAsciiFromTemplateForInitializedCableModemRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForInitializedCableModemResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForInitializedCableModemResponse" name="GenerateAsciiFromTemplateForInitializedCableModemResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredCableModemRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUnregisteredCableModemRequest" name="GenerateAsciiFromTemplateForUnregisteredCableModemRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredCableModemResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUnregisteredCableModemResponse" name="GenerateAsciiFromTemplateForUnregisteredCableModemResponse"/>
  </wsdl:message>

  
  <wsdl:message name="GenerateAsciiFromTemplateForSipMtaRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForSipMtaRequest" name="GenerateAsciiFromTemplateForSipMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForSipMtaResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForSipMtaResponse" name="GenerateAsciiFromTemplateForSipMtaResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateAsciiFromTemplateForNcsMtaRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForNcsMtaRequest" name="GenerateAsciiFromTemplateForNcsMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForNcsMtaResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForNcsMtaResponse" name="GenerateAsciiFromTemplateForNcsMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForIsdnMtaRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForIsdnMtaRequest" name="GenerateAsciiFromTemplateForIsdnMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForIsdnMtaResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForIsdnMtaResponse" name="GenerateAsciiFromTemplateForIsdnMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForUninitializedMtaRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUninitializedMtaRequest" name="GenerateAsciiFromTemplateForUninitializedMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUninitializedMtaResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUninitializedMtaResponse" name="GenerateAsciiFromTemplateForUninitializedMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredMtaRequestMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUnregisteredMtaRequest" name="GenerateAsciiFromTemplateForUnregisteredMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateAsciiFromTemplateForUnregisteredMtaResponseMessage">
    <wsdl:part element="gui:GenerateAsciiFromTemplateForUnregisteredMtaResponse" name="GenerateAsciiFromTemplateForUnregisteredMtaResponse"/>
  </wsdl:message>





<wsdl:message name="GenerateTlvFromStringRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromStringRequest" name="GenerateTlvFromStringRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromStringResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromStringResponse" name="GenerateTlvFromStringResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromStringV4RequestMessage">
    <wsdl:part element="gui:GenerateTlvFromStringV4Request" name="GenerateTlvFromStringV4Request"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromStringV4ResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromStringV4Response" name="GenerateTlvFromStringV4Response"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForInitializedCableModemRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForInitializedCableModemRequest" name="GenerateTlvFromTemplateForInitializedCableModemRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForInitializedCableModemResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForInitializedCableModemResponse" name="GenerateTlvFromTemplateForInitializedCableModemResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredCableModemRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUnregisteredCableModemRequest" name="GenerateTlvFromTemplateForUnregisteredCableModemRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredCableModemResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUnregisteredCableModemResponse" name="GenerateTlvFromTemplateForUnregisteredCableModemResponse"/>
  </wsdl:message>



  <wsdl:message name="GenerateTlvFromTemplateForSipMtaRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForSipMtaRequest" name="GenerateTlvFromTemplateForSipMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForSipMtaResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForSipMtaResponse" name="GenerateTlvFromTemplateForSipMtaResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="GenerateTlvFromTemplateForNcsMtaRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForNcsMtaRequest" name="GenerateTlvFromTemplateForNcsMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForNcsMtaResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForNcsMtaResponse" name="GenerateTlvFromTemplateForNcsMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForIsdnMtaRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForIsdnMtaRequest" name="GenerateTlvFromTemplateForIsdnMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForIsdnMtaResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForIsdnMtaResponse" name="GenerateTlvFromTemplateForIsdnMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForUninitializedMtaRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUninitializedMtaRequest" name="GenerateTlvFromTemplateForUninitializedMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUninitializedMtaResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUninitializedMtaResponse" name="GenerateTlvFromTemplateForUninitializedMtaResponse"/>
  </wsdl:message>
  
  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredMtaRequestMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUnregisteredMtaRequest" name="GenerateTlvFromTemplateForUnregisteredMtaRequest"/>
  </wsdl:message>

  <wsdl:message name="GenerateTlvFromTemplateForUnregisteredMtaResponseMessage">
    <wsdl:part element="gui:GenerateTlvFromTemplateForUnregisteredMtaResponse" name="GenerateTlvFromTemplateForUnregisteredMtaResponse"/>
  </wsdl:message>
    

  <wsdl:portType name="ConfigFile">

     <wsdl:operation name="TlvToAscii">
      <wsdl:input message="tns:TlvToAsciiRequestMessage"/>
      <wsdl:output message="tns:TlvToAsciiResponseMessage"/>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateAsciiFromString">
      <wsdl:input message="tns:GenerateAsciiFromStringRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromStringResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateAsciiFromStringV4">
      <wsdl:input message="tns:GenerateAsciiFromStringV4RequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromStringV4ResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="ShowPacketsAsAscii">
      <wsdl:input message="tns:ShowPacketsAsAsciiRequestMessage"/>
      <wsdl:output message="tns:ShowPacketsAsAsciiResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="ShowV4PacketsAsAscii">
      <wsdl:input message="tns:ShowV4PacketsAsAsciiRequestMessage"/>
      <wsdl:output message="tns:ShowV4PacketsAsAsciiResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForInitializedCableModem">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForInitializedCableModemRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForInitializedCableModemResponseMessage"/>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredCableModem">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUnregisteredCableModemRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUnregisteredCableModemResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForSipMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForSipMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForSipMtaResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForNcsMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForNcsMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForNcsMtaResponseMessage"/>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateAsciiFromTemplateForIsdnMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForIsdnMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForIsdnMtaResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateAsciiFromTemplateForUninitializedMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUninitializedMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUninitializedMtaResponseMessage"/>
    </wsdl:operation>
                
     <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredMta">
      <wsdl:input message="tns:GenerateAsciiFromTemplateForUnregisteredMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateAsciiFromTemplateForUnregisteredMtaResponseMessage"/>
    </wsdl:operation>
    
    

     <wsdl:operation name="GenerateTlvFromString">
      <wsdl:input message="tns:GenerateTlvFromStringRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromStringResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateTlvFromStringV4">
      <wsdl:input message="tns:GenerateTlvFromStringV4RequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromStringV4ResponseMessage"/>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateTlvFromTemplateForInitializedCableModem">
      <wsdl:input message="tns:GenerateTlvFromTemplateForInitializedCableModemRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForInitializedCableModemResponseMessage"/>
    </wsdl:operation>
    
     <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredCableModem">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUnregisteredCableModemRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUnregisteredCableModemResponseMessage"/>
    </wsdl:operation>


     <wsdl:operation name="GenerateTlvFromTemplateForSipMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForSipMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForSipMtaResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateTlvFromTemplateForNcsMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForNcsMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForNcsMtaResponseMessage"/>
    </wsdl:operation>
        
     <wsdl:operation name="GenerateTlvFromTemplateForIsdnMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForIsdnMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForIsdnMtaResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="GenerateTlvFromTemplateForUninitializedMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUninitializedMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUninitializedMtaResponseMessage"/>
    </wsdl:operation>
                
     <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredMta">
      <wsdl:input message="tns:GenerateTlvFromTemplateForUnregisteredMtaRequestMessage"/>
      <wsdl:output message="tns:GenerateTlvFromTemplateForUnregisteredMtaResponseMessage"/>
    </wsdl:operation>
                
                                
  </wsdl:portType>

  <wsdl:binding name="ConfigFileBinding" type="tns:ConfigFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       
    <wsdl:operation name="TlvToAscii">
      <soap:operation soapAction="TlvToAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   

    <wsdl:operation name="GenerateAsciiFromString">
      <soap:operation soapAction="GenerateAsciiFromString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateAsciiFromStringV4">
      <soap:operation soapAction="GenerateAsciiFromStringV4"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ShowPacketsAsAscii">
      <soap:operation soapAction="ShowPacketsAsAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ShowV4PacketsAsAscii">
      <soap:operation soapAction="ShowV4PacketsAsAscii"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateAsciiFromTemplateForInitializedCableModem">
      <soap:operation soapAction="GenerateAsciiFromTemplateForInitializedCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredCableModem">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUnregisteredCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateAsciiFromTemplateForSipMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForSipMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForNcsMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForNcsMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForIsdnMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForIsdnMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUninitializedMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUninitializedMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateAsciiFromTemplateForUnregisteredMta">
      <soap:operation soapAction="GenerateAsciiFromTemplateForUnregisteredMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>




    <wsdl:operation name="GenerateTlvFromString">
      <soap:operation soapAction="GenerateTlvFromString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="GenerateTlvFromStringV4">
      <soap:operation soapAction="GenerateTlvFromStringV4"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForInitializedCableModem">
      <soap:operation soapAction="GenerateTlvFromTemplateForInitializedCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredCableModem">
      <soap:operation soapAction="GenerateTlvFromTemplateForUnregisteredCableModem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="GenerateTlvFromTemplateForSipMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForSipMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForNcsMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForNcsMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForIsdnMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForIsdnMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUninitializedMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForUninitializedMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GenerateTlvFromTemplateForUnregisteredMta">
      <soap:operation soapAction="GenerateTlvFromTemplateForUnregisteredMta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ConfigFile">
    <wsdl:port binding="tns:ConfigFileBinding" name="ConfigFilePort">
      <soap:address location="http://localhost:8080/ConfigFile/services/ConfigFilePort"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
