modules/xact/dhcp/manager/mdmimpl/netconfigurator/DhcpdConf/webserviceProject/WebContent/wsdl/DhcpdConfPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<wsdl:definitions xmlns:gui="http://www.gip.com/juno/Gui/WS/Messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.gip.com/juno/WS/DhcpdConf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DhcpdConf" targetNamespace="http://www.gip.com/juno/WS/DhcpdConf">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.gip.com/juno/Gui/WS/Messages" schemaLocation="DhcpdConfMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="CheckDhcpdConfRequestMessage">
    <wsdl:part element="gui:CheckDhcpdConfRequest" name="CheckDhcpdConfRequest"/>
  </wsdl:message>

  <wsdl:message name="CheckDhcpdConfResponseMessage">
    <wsdl:part element="gui:CheckDhcpdConfResponse" name="CheckDhcpdConfResponse"/>
  </wsdl:message>

  <wsdl:message name="CheckDhcpdConfNewFormatRequestMessage">
    <wsdl:part element="gui:CheckDhcpdConfNewFormatRequest" name="CheckDhcpdConfNewFormatRequest"/>
  </wsdl:message>

  <wsdl:message name="CheckDhcpdConfNewFormatResponseMessage">
    <wsdl:part element="gui:CheckDhcpdConfNewFormatResponse" name="CheckDhcpdConfNewFormatResponse"/>
  </wsdl:message>

  
  <wsdl:message name="DeployDhcpdConfNewFormatRequestMessage">
    <wsdl:part element="gui:DeployDhcpdConfNewFormatRequest" name="DeployDhcpdConfNewFormatRequest"/>
  </wsdl:message>

  <wsdl:message name="DeployDhcpdConfNewFormatResponseMessage">
    <wsdl:part element="gui:DeployDhcpdConfNewFormatResponse" name="DeployDhcpdConfNewFormatResponse"/>
  </wsdl:message>

  <wsdl:message name="DeployDhcpdConfRequestMessage">
    <wsdl:part element="gui:DeployDhcpdConfRequest" name="DeployDhcpdConfRequest"/>
  </wsdl:message>

  <wsdl:message name="DeployDhcpdConfResponseMessage">
    <wsdl:part element="gui:DeployDhcpdConfResponse" name="DeployDhcpdConfResponse"/>
  </wsdl:message>

  <wsdl:message name="DeployStaticHostRequestMessage">
    <wsdl:part element="gui:DeployStaticHostRequest" name="DeployStaticHostRequest"/>
  </wsdl:message>

  <wsdl:message name="DeployStaticHostResponseMessage">
    <wsdl:part element="gui:DeployStaticHostResponse" name="DeployStaticHostResponse"/>
  </wsdl:message>

  <wsdl:message name="DeployStaticHostNewFormatRequestMessage">
    <wsdl:part element="gui:DeployStaticHostNewFormatRequest" name="DeployStaticHostNewFormatRequest"/>
  </wsdl:message>

  <wsdl:message name="DeployStaticHostNewFormatResponseMessage">
    <wsdl:part element="gui:DeployStaticHostNewFormatResponse" name="DeployStaticHostNewFormatResponse"/>
  </wsdl:message>

  <wsdl:message name="UndeployStaticHostRequestMessage">
    <wsdl:part element="gui:UndeployStaticHostRequest" name="UndeployStaticHostRequest"/>
  </wsdl:message>

  <wsdl:message name="UndeployStaticHostResponseMessage">
    <wsdl:part element="gui:UndeployStaticHostResponse" name="UndeployStaticHostResponse"/>
  </wsdl:message>

  <wsdl:message name="UndeployStaticHostNewFormatRequestMessage">
    <wsdl:part element="gui:UndeployStaticHostNewFormatRequest" name="UndeployStaticHostNewFormatRequest"/>
  </wsdl:message>

  <wsdl:message name="UndeployStaticHostNewFormatResponseMessage">
    <wsdl:part element="gui:UndeployStaticHostNewFormatResponse" name="UndeployStaticHostNewFormatResponse"/>
  </wsdl:message>

  
  <wsdl:message name="DeployCPERequestMessage">
    <wsdl:part element="gui:DeployCPERequest" name="DeployCPERequest"/>
  </wsdl:message>

  <wsdl:message name="DeployCPEResponseMessage">
    <wsdl:part element="gui:DeployCPEResponse" name="DeployCPEResponse"/>
  </wsdl:message>
  
  <wsdl:message name="UndeployCPERequestMessage">
    <wsdl:part element="gui:UndeployCPERequest" name="UndeployCPERequest"/>
  </wsdl:message>

  <wsdl:message name="UndeployCPEResponseMessage">
    <wsdl:part element="gui:UndeployCPEResponse" name="UndeployCPEResponse"/>
  </wsdl:message>

  <wsdl:message name="DuplicateForMigrationRequestMessage">
    <wsdl:part element="gui:DuplicateForMigrationRequest" name="DuplicateForMigrationRequest"/>
  </wsdl:message>

  <wsdl:message name="DuplicateForMigrationResponseMessage">
    <wsdl:part element="gui:DuplicateForMigrationResponse" name="DuplicateForMigrationResponse"/>
  </wsdl:message>
  
  <wsdl:message name="DeactivateForMigrationRequestMessage">
    <wsdl:part element="gui:DeactivateForMigrationRequest" name="DeactivateForMigrationRequest"/>
  </wsdl:message>

  <wsdl:message name="DeactivateForMigrationResponseMessage">
    <wsdl:part element="gui:DeactivateForMigrationResponse" name="DeactivateForMigrationResponse"/>
  </wsdl:message>
  
  <wsdl:message name="ActivateForMigrationRequestMessage">
    <wsdl:part element="gui:ActivateForMigrationRequest" name="ActivateForMigrationRequest"/>
  </wsdl:message>

  <wsdl:message name="ActivateForMigrationResponseMessage">
    <wsdl:part element="gui:ActivateForMigrationResponse" name="ActivateForMigrationResponse"/>
  </wsdl:message>
  
  <wsdl:message name="DeleteForMigrationRequestMessage">
    <wsdl:part element="gui:DeleteForMigrationRequest" name="DeleteForMigrationRequest"/>
  </wsdl:message>

  <wsdl:message name="DeleteForMigrationResponseMessage">
    <wsdl:part element="gui:DeleteForMigrationResponse" name="DeleteForMigrationResponse"/>
  </wsdl:message>


  <wsdl:portType name="DhcpdConf">

     <wsdl:operation name="CheckDhcpdConf">
      <wsdl:input message="tns:CheckDhcpdConfRequestMessage"/>
      <wsdl:output message="tns:CheckDhcpdConfResponseMessage"/>
    </wsdl:operation>

     <wsdl:operation name="CheckDhcpdConfNewFormat">
      <wsdl:input message="tns:CheckDhcpdConfNewFormatRequestMessage"/>
      <wsdl:output message="tns:CheckDhcpdConfNewFormatResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="DeployDhcpdConf">
      <wsdl:input message="tns:DeployDhcpdConfRequestMessage"/>
      <wsdl:output message="tns:DeployDhcpdConfResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="DeployDhcpdConfNewFormat">
      <wsdl:input message="tns:DeployDhcpdConfNewFormatRequestMessage"/>
      <wsdl:output message="tns:DeployDhcpdConfNewFormatResponseMessage"/>
    </wsdl:operation>
        
    <wsdl:operation name="DeployStaticHost">
      <wsdl:input message="tns:DeployStaticHostRequestMessage"/>
      <wsdl:output message="tns:DeployStaticHostResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="DeployStaticHostNewFormat">
      <wsdl:input message="tns:DeployStaticHostNewFormatRequestMessage"/>
      <wsdl:output message="tns:DeployStaticHostNewFormatResponseMessage"/>
    </wsdl:operation>
                
    <wsdl:operation name="UndeployStaticHost">
      <wsdl:input message="tns:UndeployStaticHostRequestMessage"/>
      <wsdl:output message="tns:UndeployStaticHostResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="UndeployStaticHostNewFormat">
      <wsdl:input message="tns:UndeployStaticHostNewFormatRequestMessage"/>
      <wsdl:output message="tns:UndeployStaticHostNewFormatResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="DeployCPE">
      <wsdl:input message="tns:DeployCPERequestMessage"/>
      <wsdl:output message="tns:DeployCPEResponseMessage"/>
    </wsdl:operation>
                
    <wsdl:operation name="UndeployCPE">
      <wsdl:input message="tns:UndeployCPERequestMessage"/>
      <wsdl:output message="tns:UndeployCPEResponseMessage"/>
    </wsdl:operation>




	<wsdl:operation name="DuplicateForMigration">
      <wsdl:input message="tns:DuplicateForMigrationRequestMessage"/>
      <wsdl:output message="tns:DuplicateForMigrationResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="DeactivateForMigration">
      <wsdl:input message="tns:DeactivateForMigrationRequestMessage"/>
      <wsdl:output message="tns:DeactivateForMigrationResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="ActivateForMigration">
      <wsdl:input message="tns:ActivateForMigrationRequestMessage"/>
      <wsdl:output message="tns:ActivateForMigrationResponseMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="DeleteForMigration">
      <wsdl:input message="tns:DeleteForMigrationRequestMessage"/>
      <wsdl:output message="tns:DeleteForMigrationResponseMessage"/>
    </wsdl:operation>
        
    
  </wsdl:portType>

  <wsdl:binding name="DhcpdConfBinding" type="tns:DhcpdConf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       
    <wsdl:operation name="CheckDhcpdConf">
      <soap:operation soapAction="CheckDhcpdConf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CheckDhcpdConfNewFormat">
      <soap:operation soapAction="CheckDhcpdConfNewFormat"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        
    <wsdl:operation name="DeployDhcpdConf">
      <soap:operation soapAction="DeployDhcpdConf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeployDhcpdConfNewFormat">
      <soap:operation soapAction="DeployDhcpdConfNewFormat"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DeployStaticHost">
      <soap:operation soapAction="DeployStaticHost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeployStaticHostNewFormat">
      <soap:operation soapAction="DeployStaticHostNewFormat"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="UndeployStaticHost">
      <soap:operation soapAction="UndeployStaticHost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UndeployStaticHostNewFormat">
      <soap:operation soapAction="UndeployStaticHostNewFormat"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DeployCPE">
      <soap:operation soapAction="DeployCPE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="UndeployCPE">
      <soap:operation soapAction="UndeployCPE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
         
       
    <wsdl:operation name="DuplicateForMigration">
      <soap:operation soapAction="DuplicateForMigration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DeactivateForMigration">
      <soap:operation soapAction="DeactivateForMigration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ActivateForMigration">
      <soap:operation soapAction="ActivateForMigration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DeleteForMigration">
      <soap:operation soapAction="DeleteForMigration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="DhcpdConf">
    <wsdl:port binding="tns:DhcpdConfBinding" name="DhcpdConfPort">
      <soap:address location="http://localhost:8080/DhcpdConf/services/DhcpdConfPort"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
